.chat {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: block;

    --tickets-width: 250px;
}

.chat > .tickets {
    height: 100%;
    width: var(--tickets-width);
    overflow: auto;
    background-color: white;
    border-right: 1px solid lightgray;
}

.chat > .tickets > .ticket {
    --ticket-bg-color: var(--section-bg-color);
    background-color: var(--ticket-bg-color);
    width: 100%;
    padding: 0px 10px;
    height: 50px;
    align-content: center;
    font-size: 16px;
    position: relative;
    overflow: hidden;
    text-wrap: nowrap;
}

.chat > .tickets > .ticket.selected,
.chat > .tickets > .ticket:hover {
    --ticket-bg-color: var(--change-section-bg-color);
}

.chat > .tickets > .ticket::after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 50px;
    background-image: linear-gradient(to right, transparent, var(--ticket-bg-color) 70%);
}

.chat > .conversation-main {
    width: calc(100% - var(--tickets-width));
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    background-image: url(../pics/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    --send-input-height: 60px;
    --elem-size: 40px;
    --bubbles-height: calc(100% - var(--send-input-height) - 10px);
}

.chat > .conversation-main::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(7px);
}
.chat > .conversation-main > .bubbles {
    height: var(--bubbles-height);
    width: 100%;
    overflow-y: auto;
    margin-bottom: 10px;
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0;
    padding: 20px 10px;
}

.chat > .conversation-main > .bubbles > .bubble {
    width: fit-content;
    border-radius: 30px;
    padding: 10px 20px;
    position: relative;
    margin-bottom: 10px;
}

.chat > .conversation-main > .bubbles > .bubble.assistant {
    background-color: var(--change-section-bg-color);
    color: rgb(70, 70, 70);
    border-bottom-left-radius: unset;
    margin-left: 0;
    margin-right: auto;
}

.chat > .conversation-main > .bubbles > .bubble.user {
    background-color: dodgerblue;
    color: white;
    border-bottom-right-radius: unset;
    margin-left: auto;
    margin-right: 0;
}

.chat > .conversation-main > .send-message-form {
    width: 100%;
    height: var(--send-input-height);
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    overflow: hidden;
    background-color: var(--normal-bg-color);
}

.chat > .conversation-main > .send-message-form >
input[type="text"] {
    width: calc(100% - 20px);
    margin-left: 10px;
    margin-top: 10px;
    position: relative;
    height: var(--elem-size);
    border: 1px solid lightgray;
    border-radius: 30px;
    padding: 0px var(--elem-size) 0px 10px;
}

.chat > .conversation-main > .send-message-form >
input[type="text"]:focus {
    outline: none;
}


.chat > .conversation-main > .send-message-form >
.send-message-button-container {
    position: absolute;
    width: var(--elem-size);
    height: var(--elem-size);
    right: 10px;
    top: 10px;
    display: flex;
}

.chat > .conversation-main > .send-message-form >
.send-message-button-container:hover > .button-icon {
    transform: rotate(45deg);
}

.chat > .conversation-main > .send-message-form >
.send-message-button-container > input[type="submit"]{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    opacity: 0;
}

.chat > .conversation-main > .send-message-form >
.send-message-button-container > .button-icon {
    --size: 40%;
    width: var(--size);
    height: var(--size);
    margin: auto;
    color: rgb(90, 90, 90);
    transition-duration: .3s;
}
