.load-page > .loading {
    width: 100%;
    user-select: none;
    text-align: center;
    color: gray;
    margin-top: 20px;
}

.load-page > .first-time {
    width: 100%;
    padding: 60px 40px;
    text-align: center;
}

.load-page > .first-time > .title {
    font-size: 30px;
    color: gray;
}

.load-page > .first-time > .description {
    font-size: 18px;
    color: gray;
    margin-top: 20px;
    line-height: 25px;
}

.load-page > .first-time > .download-model {
    width: 270px;
    height: 40px;
    border-radius: 10px;
    align-content: center;
    margin: auto;
    background-color: rgb(150, 150, 150);
    margin-top: 20px;
    color: white;
    user-select: none;
    font-size: 20px;
    transition-duration: .3s;
}
.load-page > .first-time > .download-model:hover {
    background-color: gray;
}

.load-page > .first-time > .skip {
    width: fit-content;
    margin: auto;
    margin-top: 10px;
    text-decoration: underline;
    color: gray;
}